$color-base:        #FFFFFF;
$color-light:       #F4F5FC;
$color-soft:        #8693AB;
$color-headlines:   #191923;
$color-text:        mix($color-soft, $color-headlines, 70%);

$color-primary:     #0652DD;
$color-secondary:   #D980FA;
$color-shadow:      #1E90FF;
