//
// Layout variables
//

$container-width:         1440px !default;
$container-narrow-width:  ($container-width / 2.5) !default;

$spacing-x-small:         0.75rem !default;
$spacing-small:           0.875rem !default;
$spacing-base:            1rem !default;
$spacing-large:           1.5rem !default;

$padding-x:               1.25rem !default;
$padding-section:         5rem !default;
$padding-section-large:   10rem !default;
