//
// Miscellaneous variables
//

$transition-duration:   0.2s !default;
$transition-easing:     ease-out !default;
$transition:            $transition-duration $transition-easing !default;
$transition-bounce:     $transition-duration * 1.5 cubic-bezier(0.68, -0.55, 0.265, 1.55) !default;
